<h1>New Circle</h1>
<form action="<%= circles_url %>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<%= render 'shared/errors' %>
	<label for="circle_name">Circle Name</label>
	<input type="text" id="circle_name" name="circle[name]" value="<%= @circle.name %>">
	<br>

	<% User.all.each do |user| %>
		<% next if user.id == current_user.id %>
		<input type="checkbox" name="circle[member_ids][]" value="<%= user.id %>"><%= user.email %></input>
		<br>
	<% end %>
	<br>
	<input type="submit" value="Create Circle">
</form>